@(productForm: Form[Product])(implicit flash: Flash, messages: Messages)
@import views.forms.FormHelpers._

@main(Messages("products.form")) {
    <h2>
        @Messages("products.form")
    </h2>

    @helper.form(action = routes.ProductsController.save()) {
        <fieldset>
            <legend>
                @Messages("products.details", Messages("products.new"))
            </legend>
            @helper.inputText(productForm("ean"), '_label -> "", 'placeholder -> "EAN")
            @helper.inputText(productForm("name"), '_label -> "", 'placeholder -> "Product Name")
            @helper.textarea(productForm("description"), '_label -> "", 'placeholder -> "Discription")
        </fieldset>
        <p>
            <button type="submit" class="btn btn-primary">
                @Messages("products.new.submit")
            </button>
        </p>
    }
}
